.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 15px black;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logoImage {
  height: 65px;
  margin: 0 20px 0 30px;
}

.posImage {
  height: 60px;
  border-radius: 10px;
  margin: 20px 40px 0 0;
}

.nameFont {
  font-family: "Merienda", cursive;
  font-size: 2.2em;
  color: rgb(255, 205, 40);
}

.donutFont {
  font-family: "Chango", cursive;
  margin: 0 0 0 17px;
  font-size: 2.2em;
}
