.donutTileContainer {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 160px;
}
.donutTileWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.donutTileImage {
  height: 100%;
  width: 50%;
}

.itemIncrement {
  margin: 10px 10px;
  border-radius: 50px;
  border: none;
  background-color: rgb(241, 241, 241);
}
