.selectorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  position: absolute;
}

.existingCustomer {
  height: 150px;
  width: 150px;
  margin-top: 150px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 6px blueviolet;
  box-shadow: 0px 0px 6px 2px rgb(187, 187, 187);
}

.newCustomer {
  height: 150px;
  width: 150px;
  margin-top: 150px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: right;
  align-items: center;
  border: solid 6px blueviolet;
  box-shadow: 0px 0px 8px 3px rgb(187, 187, 187);
}
.orderEntry {
  height: 150px;
  width: 150px;
  margin-top: 150px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: right;
  align-items: center;
  border: solid 6px green;
  box-shadow: 0px 0px 6px 2px rgb(187, 187, 187);
}

.existingCustomer:hover {
  box-shadow: 0px 0px 7px 2px rgb(255, 255, 255);
}
.newCustomer:hover {
  box-shadow: 0px 0px 9px 3px rgb(255, 255, 255);
}
.orderEntry:hover {
  box-shadow: 0px 0px 7px 2px rgb(255, 255, 255);
}

.searchLable {
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
