.donutContainer {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.donutImage {
  height: 100%;
}
